/* Color scheme

Bitter - body fonr
Pacifico - title font
*/

body {
	font-family: 'Bitter';
	font-size: 2em;
	padding-top: 70px;
}

#header {
	
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
}

#header img{
	margin: 0 auto;
	display: block;
	border: 3px solid #F15025;
	border-radius: 50%;
}

.box {
	float: none;
	margin: 0 auto;
	position: relative;
}


.company-name{
	
    position: absolute;
    left: 0;
    text-align: center;
    top: 33%;
    width: 100%;
}

.company-name h1 {
	color: #f15025;
    font-family: "Pacifico";
    font-size: 3em;
}

.title {
 font-family: "Pacifico";
 font-size: 3em;
}

h2 {
	font-family: "Pacifico";
}

.service-image img{
	width: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease;
}
.service-image img:hover {
	filter: grayscale(0%);
	border-radius: 20px;
	border: 3px solid #F15025;
}


#intro {
	float: none;
	margin: 0 auto;
}

.row {
	margin-top: 20px;
}

.cat-pic img{
	border-radius: 20px;
}
.cat-name h3 {
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
}

.full-width {
	width: 100%;
	background-color: rgba(241, 80, 37, 0.5);
}

#meet-the-cats {
    margin: 0 auto;
    width: 70%;
}

#contact-form {
	background-color: rgba(241, 80, 37, 0.5);
    border-color: #dcdcdc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 1px 0 rgba(255, 255, 255, 0.1);

}

.detail-btn {
    background-color: #F15025;
    color: white;
    bottom: 5px;
    left: 33%;
}

.service-box {
	/*border: 1px solid black;*/
}

.service-description {
	padding: 20px;
}

.footer {
	width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    height: 51px;
    padding-top: 10px;
}

.footer a {
	color: white;
	text-decoration: underline;
}

/* Small screen styles */
@media only screen and (max-width: 500px) {
   .box h1 {
   	font-size: 1.5em;
   }
   .footer {
   	font-size: 0.7em;
   }
}









