/* Color scheme
#E1B07E - beige
#E5BE9E - cream
#CBC0AD - grey
#86A397 - pale teal
#361D2E - raspberry

Bitter - body fonr
Pacifico - title font
*/

body {
	font-family: 'Bitter';
	font-size: 2em;
	padding-top: 70px;
}

#header {
	background-image: url("images/pattern1.jpg");
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
}

#header img{

	margin: 0 auto;
	display: block;
	border: 3px solid #F15025;
	border-radius: 20px;
}

.box {
	float: none;
	margin: 0 auto;
	position: relative;
}

.box span{
	color: #F15025;
    margin-left: 10%;
    margin-top: 71px;
    position: absolute;
    font-family: "Pacifico";
    font-size: 2em;
}

.title {
 font-family: "Pacifico";
 font-size: 3em;
}

.service-image img{
	width: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease;
}
.service-image img:hover {
	filter: grayscale(0%);
	border-radius: 20px;
	border: 3px solid #F15025;
}


#intro {
	float: none;
	margin: 0 auto;
}


