/* Color scheme

Bitter - body fonr
Pacifico - title font
*/

body {
	font-family: 'Bitter';
	font-size: 2em;
	padding-top: 70px;
}

#header {
	
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
}

#header img{
	margin: 0 auto;
	display: block;
	border: 3px solid #F15025;
	border-radius: 50%;
}

.box {
	float: none;
	margin: 0 auto;
	position: relative;
}

.box span{
	color: #f15025;
    font-family: "Pacifico";
    font-size: 3em;
    margin-left: 33%;
    margin-top: 30%;
    position: absolute;
    text-align: center;
}

.title {
 font-family: "Pacifico";
 font-size: 3em;
}

h2 {
	font-family: "Pacifico";
}

.service-image img{
	width: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease;
}
.service-image img:hover {
	filter: grayscale(0%);
	border-radius: 20px;
	border: 3px solid #F15025;
}


#intro {
	float: none;
	margin: 0 auto;
}

.row {
	margin-top: 20px;
}

.cat-pic img{
	border-radius: 20px;
}
.cat-name h3 {
	text-align: center;
	color: #fff;
	padding-bottom: 20px;
}

.full-width {
	width: 100%;
	background-color: rgba(241, 80, 37, 0.5);
}

#meet-the-cats {
    margin: 0 auto;
    width: 70%;
}
